body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#search-form {
  margin-bottom: 32px;
  margin-top: 36px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
